.gitignore
.idea/GeekBrains.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
Python/StoneLesson7/__pycache__/controller.cpython-311.pyc
Python/StoneLesson7/__pycache__/model.cpython-311.pyc
Python/StoneLesson7/__pycache__/parsing.cpython-311.pyc
Python/StoneLesson7/__pycache__/view.cpython-311.pyc
Python/StoneLesson8/__pycache__/data_base.cpython-311.pyc
Python/StoneLesson8/__pycache__/menu.cpython-311.pyc
Python/StoneLesson8/__pycache__/phone_book.cpython-311.pyc
Python/StoneLesson8/__pycache__/view.cpython-311.pyc
