.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
C#/C#_Lessons_Kamyaneckiy/Example10_MethodArray/obj/Debug/net6.0/Example10_MethodArray.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example11_ArrayLibrary/obj/Debug/net6.0/Example11_ArrayLibrary.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example12_Methods/obj/Debug/net6.0/Example12_Methods.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example13_Massives/obj/Debug/net6.0/Example13_Massives.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example14_Recurs/obj/Debug/net6.0/Example14_Recurs.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example1_HelloConsole/obj/Debug/net6.0/Example1_HelloConsole.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example2_HelloUser/obj/Debug/net6.0/Example2_HelloUser.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example3_Sum/obj/Debug/net6.0/Example3_Sum.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example4_Div/obj/Debug/net6.0/Example4_Div.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example5_Condition_If_else/obj/Debug/net6.0/Example5_Condition_If_else.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example6_Base/obj/Debug/net6.0/Example6_Base.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example7_Magic/obj/Debug/net6.0/Example7_Magic.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example8_Methods/obj/Debug/net6.0/Example8_Methods.csproj.AssemblyReference.cache
C#/C#_Lessons_Kamyaneckiy/Example9_IntroArray/obj/Debug/net6.0/Example9_IntroArray.csproj.AssemblyReference.cache
C#/C#_Seminar1/obj/Debug/net6.0/C#_Seminar1.csproj.AssemblyReference.cache
C#/C#_Seminar2/obj/Debug/net6.0/C#_Seminar2.csproj.AssemblyReference.cache
C#/C#_Seminar3/obj/Debug/net6.0/C#_Seminar3.csproj.AssemblyReference.cache
C#/C#_Seminar4/obj/Debug/net6.0/C#_Seminar4.csproj.AssemblyReference.cache
C#/C#_Seminar5/obj/Debug/net6.0/C#_Seminar5.csproj.AssemblyReference.cache
C#/C#_Seminar6/obj/Debug/net6.0/C#_Seminar6.csproj.AssemblyReference.cache
C#/C#_Seminar7/obj/Debug/net6.0/C#_Seminar7.csproj.AssemblyReference.cache
C#/C#_Seminar8/obj/Debug/net6.0/C#_Seminar8.assets.cache
C#/C#_Seminar8/obj/Debug/net6.0/C#_Seminar8.csproj.AssemblyReference.cache
C#/C#_Seminar8/obj/Debug/net6.0/C#_Seminar8.GeneratedMSBuildEditorConfig.editorconfig
C#/C#_Seminar9/obj/Debug/net6.0/C#_Seminar9.csproj.AssemblyReference.cache
Chapter1_FinalTest/obj/Debug/net6.0/GeekBrains_Chapter1_Test.csproj.AssemblyReference.cache
Python/StoneLesson7/__pycache__/controller.cpython-311.pyc
Python/StoneLesson7/__pycache__/model.cpython-311.pyc
Python/StoneLesson7/__pycache__/parsing.cpython-311.pyc
Python/StoneLesson7/__pycache__/view.cpython-311.pyc
Python/StoneLesson8/__pycache__/data_base.cpython-311.pyc
Python/StoneLesson8/__pycache__/menu.cpython-311.pyc
Python/StoneLesson8/__pycache__/phone_book.cpython-311.pyc
Python/StoneLesson8/__pycache__/view.cpython-311.pyc
.idea/GeekBrains.iml
